<div class="container-fluid footer">
    <div class="container">
        <div class="row d-flex myrow">
            <div class="col">
                <ul class="d-flex">
                    <li><a href="imdex.html">首頁</a></li>
                    <li><a href="product.html">系列鏡框</a></li>
                    <li><a href="store.html">門市據點</a></li>
                    <li><a href="blog.html">部落格</a></li>
                    <li><a href="faq.html">常見問題</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="d-flex">
                    <li><a href="#"><img src="./../assets/images/ic-social-fb.png" alt=""></a></li>
                    <li><a href="#"><img src="./../assets/images/ic_social_ig.png" alt=""></a></li>
                    <li><a href="#"><img src="./../assets/images/ic_social_line.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col mytext">
                <p><span class="material-symbols-outlined">call</span>0800-000-000</p>
                <p><span class="material-symbols-outlined">mail</span>glasses@business.com</p>
            </div>
        </div>
        <hr>
        <div class="row myfooter d-flex">
            <div class="col">
                <p>Copyright © 2020 Glasses.All rights reserved.</p>
            </div>
            <div class="col">
                <ul class="d-flex">
                    <li><a href="#">隱私權政策</a></li>
                    <li><a href="#">服務條款</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>